.fancy{
    margin: 10% auto;
    width: 90%;
}
.movelist{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

}

body{
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}